#board{

    display:grid;
    grid-template-columns:repeat(8,80px);
    width:640px;

    }

    .square{

    width:80px;
    height:80px;

    }

    .light{

    background:#f0d9b5;

    }

    .dark{

    background:#b58863;

    }

    .piece{

    width:80px;
    height:80px;

    }